<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mx.itson.usuariologin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Keninis_Afe"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".pantallaEmpleado.RegistroUsuariosActivity"
            android:exported="false" />
        <activity
            android:name=".pantallaEmpleado.InventarioActivity"
            android:exported="false" />
        <activity
            android:name=".pantallaEmpleado.EmpleadoActivity"
            android:exported="false" />
        <activity
            android:name=".pantallaCliente.ClienteActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>