<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mx.itson.usuariologin">

    <!-- Permisos para Internet y almacenamiento -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permiso solo necesario en Android 9 o menos -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Keninis_Afe"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:targetApi="31">

        <!-- Actividades -->
        <activity
            android:name=".pantallaCliente.CarritoActivity"
            android:exported="false" />
        <activity
            android:name=".pantallaEmpleado.InventarioActivity"
            android:exported="false" />
        <activity
            android:name=".pantallaEmpleado.EmpleadoActivity"
            android:exported="false" />
        <activity
            android:name=".pantallaCliente.ClienteActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Opcional: si usas FileProvider para compartir archivos localmente -->
        <!--
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        -->
    </application>

</manifest>
